<%- include ("./templates/header") %>
<!DOCTYPE html>
<html lang="en">
<body>
  <div class="aboutbod">
    <div class="people">
        <section class="perfilIMG">
            <img src="./img/saimg.jfif" width="300" height="300">
        </section>
        <section class="textPeople">
         
            <h2 id="titleSection"> Saul</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
  
        </section>
    </div>

    <div class="people2">
        <section class="perfilIMG">
            <img src="./img/inc mty.jpeg" width="300" height="300">
        </section>
        <section class="textPeople">
         
            <h2 id="titleSection"> Misa</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
  
        </section>
    </div>

    <div class="people3">
        <section class="perfilIMG">
            <img src="./img/perfil.jpg" width="300" height="300">
        </section>
        <section class="textPeople">
         
            <h2 id="titleSection"> Mario</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
             publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
  
        </section>
    </div>

</div>
    
</body>
</html>
<%- include ("./templates/footer") %>