<%- include ("./templates/header") %>
<!doctype html>
<html lang="en">
<body>

  <div class="body-home">
  <!--Carousel New Releases Starts-->
    <div class="carousel">
      <div class="carouselbox" id="new-releases">
        <!--This data will be queried from the API-->
      </div>
      <a class="switchLeft sliderButton" onclick="sliderScrollLeftNew()"><span><</span></a>
      <a class="switchRight sliderButton" onclick="sliderScrollRightNew()"><span>></span></a>
    </div>
  <!--Carousel New Releases Ends-->

  <!--Carousel Popular Releases Starts-->
    <div class="carousel">
      <div class="carouselbox" id="popular-releases">
        <!--This data will be queried from the API-->
      </div>
      <a class="switchLeft sliderButton" onclick="sliderScrollLeftPopular()"><span><</span></a>
      <a class="switchRight sliderButton" onclick="sliderScrollRightPopular()"><span>></span></a>
    </div>
  <!--Carousel Popular Releases Ends-->
</div>
<!--TABLEAU-->
<script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1536px; height: 611px;'><object class='tableauViz' width='1536' height='611' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;moviereminder' /><param name='name' value='test&#47;Dashboard1' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>  <!-- Optional JavaScript -->
  <script src="./js/home.js"></script>
  <!-- jQuery first, then Axios, then Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    $(".carousel").on('click', addID)
    console.log("click");


    function addID(){
      $.post("/",function(data,status){
        console.log("added");
      })

    }
  </script>

</body>
<%- include ("./templates/footer") %>