<%- include ("./templates/headerlog") %>
<body>
	<div class="login-box">
		<h2>Login</h2>
		<form>
		  <div class="user-box">
			<input id="username" type="text" name="" required="">
			<label>Username</label>
		  </div>
		  <div class="user-box">
			<input id="password" type="password" name="" required="">
			<label>Password</label>
		  </div>
		  <input id="btnSubmit" type="button" value="Login">
		</form>
	  </div>
	  <script src="/js/login.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>

<%- include ("./templates/footer") %>