<%- include ("./templates/headerlog") %>

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-fluid body-cero bg-color-body">
        <div class="d-flex">
            <div class="div-left text-center">
                <label class="title">Movie</label>
                <label class="subtitle">Reminder</label>
            </div>

            <div class="div-right">
                <h3 class="name-form">CREAR CUENTA</h3>
                <form action="#" method="post">
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Nombres(s)</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="nombres" required="true" />
                        </div>
                    </div>
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Apellido(s)</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="apellidos" required="true" />
                        </div>
                    </div>
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Correo electrónico</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="email" name="correo" required="true" />
                        </div>
                    </div>
                    
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Género</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="genero" required="true" />
                        </div>
                    </div>
                    
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Contraseña</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="contrasena" required="true" />
                        </div>
                    </div>
                    <div class="row text-box-form">
                        <div class="col-md-4">
                            <label>Confirmar contraseña</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="confirmar_contrasena" required="true" />
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row btn-form">
                        <input class="btn btn-dark" type="submit" action="/newUser" value="CREAR CUENTA" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<%- include ("./templates/footer") %>