body{
    background-color: #f9414f;
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
}
:root{
    --primary: white;
    --ligth:white;
    --dark:#f9414f;
}
#navBarID{
    background-color:var(--dark);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira sans',sans-serif;
}


.navbar{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom:3px solid var(--primary);
}

h1 a{
    text-decoration: none !important;
    color: var(--primary);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color:#ffffff; 
    text-decoration:none; 
    cursor:pointer;  
}


.hamburger{
    display: block;
    position:relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--ligth);
    border-radius: 6px;
    z-index: 1;
    transform-origin:0 0;
    transition: 0.4s;
}

.hamburger.is-active  span:nth-child(1){
   transform: translate(0px,-2px) rotate(45deg);
}

.hamburger:hover span{
    transform: translateX(5px);
    background-color: #f9414f;
}

.hamburger.is-active  span:nth-child(2){
    opacity: 0;
    transform: translateX(15px); 
}


.hamburger.is-active  span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
    cursor: pointer;
    background-color:#f9414f;
}


.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0- 16px;

}

.menu a{
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active,.menu a:hover{
    background-color: #222b31;

}
.dropdown-container{
    position: relative;
}

.dropdown-container ul{
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    right: 5px;
    transition: all 1s;
    list-style-type: none;
    padding: 0;
    
}

.dropdown-container ul.show{ 
    max-height: 400px;
  
}  

.dropdown-container ul li {
    display: flex;
    width: 110px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--dark);
    border-color: var(--primary);

}

.dropdown-container a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-weight: bold;
    border-radius: 5px;
    
    text-align: left;
    padding: 10px;
}


.dropdown-container li:hover {
    background-color: var(--primary);
}



@media(min-width:768px){
    .dropdown-container{
        display: none;
    }
    .menu{
        display: flex;
    }
}


.btnheader,
.btnheader::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #f9414f 5%);
 border: 0;
 color: rgb(255, 255, 255);
 letter-spacing: 3px;
 line-height: 1;
 outline: transparent;
 position: relative;
}

.btnheader::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #f9414f 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.btnheader:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}